<h1>Admin::Categories#edit</h1>
<p>Find me in app/views/admin/categories/edit.html.erb</p>

<div class="admin-content">
<% provide(:title, 'Edit Category') %>
<% provide(:button_text, 'Save changes') %>
<h1>Updating Category</h1>
</hr>
<div class="admin-row">
  <div class="col-md-3 col-md-offset-3">
     <!--To do: call _form here -->
    <div class="gravatar_edit">
      <%#= gravatar_for @user %>
      
    </div>
  </div>
</div>
</div>