<h1>Admin::Categories#new</h1>
<p>Find me in app/views/admin/categories/new.html.erb</p>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% provide(:title, 'Create New Category') %>
    <% provide(:button_text, 'Create Category') %>
      <h1>Creating Category</h1>
        <br><p class="btn btn-primary"><%= link_to "Create Category", new_admin_category_path %></p>
      <hr/>
      <div class="admin-row">
      <div class="col-md-3 col-md-offset-3">
        <!--To do: call _form here -->
      </div>
    </div>  
  </div>
</div>