<h1>Admin::Categories#show</h1>
<p>Find me in app/views/admin/categories/show.html.erb</p>

<h1>Showing category</h1>
<h5>ID: </h5>
<h5>Name: </h5>
<h5>Created_at: </h5>
<h5>Updated_at: </h5>
<div><p class="btn btn-success"><%= link_to "Back", admin_categories_path %></p>
</div>
